html{
	font-size:14px;
	font-family:Cambria;
}

.arbre{
	background:url("./images/arbre_white.jpg"); background-size:cover; background-position:0 -500px;
}

*{
	margin:auto;
	padding:0;
}

table{
	height:100%;
}

nav{
	height:60px;
	font-size:18px;
	margin-bottom:20px;
	/*box-shadow:0px 0px 5px black;*/
}

h1{
	font-size:26px;
}

.menu{
	text-decoration:none;
	display:inline-block;
	color:black;
	text-transform: uppercase;
}

.recherche{
	text-align:right;
}

#admin{
	display:inline-block;
	position:absolute;
		top:5px;
		right:5px;
	opacity:0;
}

#admin:hover{
	opacity:.7;
}

section{
	width:80%;
}

table{
	width:100%;
}

article{
	margin-bottom:80px;
}

.description{
	display:inline-block;
	width:35%;
	vertical-align:top;
	text-align:center;
}

h2{
	margin:20px;
}

h3{
	font-size:16pxl
}

h4{
	margin:10px 0;
	width:100%;
	text-align:center;
}
.image{
	width:60%;
	display:inline-block;
}

form{
	font-size:14px;
}

textarea{
	width:100%;
}

.vignette{
	margin:30px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	color:black;
	vertical-align:top;
	text-align:center;
}


.vignette span {
  display: none; /* On masque l'infobulle. */
  position:absolute;
  margin:10px 10px 10px 10px;
	padding:1px 6px;
  background: #CCCCCC;
  border:1px solid #AAAAAA;
}
.vignette:hover {
   background: none; /* Correction d'un bug d'Internet Explorer. */
   z-index: 500; /* On définit une valeur pour que le text soit au dessus. */
}

.vignette:hover span {
  display:block; /* On affiche l'infobulle. */
}

.resume{
	display:inline;
	margin:40px;
	vertical-align:top;
}
/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 30px;
	height: 46px;
	cursor: pointer;
	background: url('images/a12.png') no-repeat;
	overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
